.single-container
  %header.single-header
    = render 'devise/shared/header'
    %nav.signup-bar
      %ul.progress-bar
        %li
          会員情報
          %br
          .circle--first.circle--red.circle--through
        %li
          電話番号認証
          %br
          .circle.circle--red.circle--through
        %li
          住所入力
          %br
          .circle.circle--red
        %li
          支払い方法
          %br
          .circle
        %li
          完了
          %br
          .circle--last

  %main.single-main
    .signup-panel
      %h2.signup-panel__head 住所入力
      = form_for(@user, url: sign_up_card_path, html: {method: :post}) do |f|
        .form-group
          = f.hidden_field :nickname, value: @user.nickname
          = f.hidden_field :email, value: @user.email
          = f.hidden_field :password, value: @user.password
          = f.hidden_field :password_confirmation, value: @user.password_confirmation
          = f.hidden_field :telephone, value: @user.phone_number
          = f.fields_for :address do |i|
            .form-group
              = i.label [:first_name, :last_name], "お名前"
              %span.form-group-require 必須
              = i.text_field :first_name, placeholder: "例)山田", required:"", class: "form__input"
              = i.text_field :last_name, placeholder: "例)彩", required:"", class: "form__input"
            .form-group
              = i.label [:first_name_phonetic, :last_name_phonetic], "お名前カナ"
              %span.form-group-require 必須
              = i.text_field :first_name_phonetic, placeholder: "例)ヤマダ", required:"", class: "form__input"
              = i.text_field :last_name_phonetic, placeholder: "例)アヤ", required:"", class: "form__input"
            .form-group
              = i.label :postal_code, "郵便番号"
              %span.form-group-require 必須
              = i.text_field :postal_code, placeholder: "例)123-4567", required:"", class: "form__input", id: "address_zip"
            .form-group
              = i.label :prefecture, "都道府県"
              %span.form-group-require 必須
              .select-wrap
                = i.collection_select :prefecture, JpPrefecture::Prefecture.all, :code, :name, {}, {class: "form__select", id: "address_prefecture_name"}
            .form-group
              = i.label :municipality, "市区町村"
              %span.form-group-require 必須
              = i.text_field :municipality, placeholder: "例)横浜市緑区", required:"", class: "form__input", id:"address_city"
            .form-group
              = i.label :address_number, "番地"
              %span.form-group-require 必須
              = i.text_field :address_number, placeholder: "例)青山1-1-1", required:"", class: "form__input", id:"address_street"
            .form-group
              = i.label :building_name, "建物名"
              %span.form-group-any 任意
              = i.text_field :building_name, placeholder: "例)柳ビル103", class: "form__input"
            .form-group
              = i.label :phone_number, "電話"
              %span.form-group-any 任意
              = i.text_field :phone_number, placeholder: "例）09012345678", class: "form__input"
          = f.submit "次へ進む", class: "btn btn__red"
    = render "devise/shared/footer"
