.single-container
  %header.single-header
    = render 'devise/shared/header'
    %nav.signup-bar
      %ul.progress-bar
        %li
          会員情報
          %br
          .circle--first.circle--red.circle--through
        %li
          電話番号認証
          %br
          .circle.circle--red.circle--through
        %li
          住所入力
          %br
          .circle.circle--red.circle--through
        %li
          支払い方法
          %br
          .circle.circle--red
        %li
          完了
          %br
          .circle--last

  %main.single-main
    .signup-panel
      %h2.signup-panel__head 支払い方法
      = form_tag(sign_up_done_path, method: "get", id: "charge-form") do
        %script{src: "https://checkout.pay.jp/", "data-key": "pk_test_2f7bcffdaa124c05fc4a6e14"}
        .form-group
          = label_tag :number, "カード番号"
          %span.form-group-require 必須
          = text_field_tag :number, "", {autofocus: true, placeholder: "半角数字のみ", class: "form__input"}
          = image_tag "credit_logo.png", class: "credit_logo"
        .form-group
          = label_tag :exp_month, "有効期限"
          %span.form-group-require 必須
          %br
          = number_field_tag :exp_month, "", {autofocus: true, min: "1", max: "12", class: "form__input-exp"}
          月
          %br
          = number_field_tag :exp_year, "", {autofocus: true, min: "1990", max: "2020", class: "form__input-exp"}
          年
        .form-group
          = label_tag :cvc, "セキュリティコード"
          %span.form-group-require 必須
          = text_field_tag :security_code, "", {autofocus: true, placeholder: "カード背面4桁もしくは3桁の番号", class: "form__input"}
          %p.cvc-notice
            %small ？
            カード裏面の番号とは？
          = submit_tag "次へ進む", class: "btn btn__red"
    = render "devise/shared/footer"
