.single-container
  %header.single-header
    = render 'devise/shared/header'

  %main.single-main
    .signup-panel
      %h2.signup-panel__head 新規会員登録
      .signup-panel__inner
        =link_to sign_up_basic_info_path do
          %button.btn.btn__mail
            = fa_icon "envelope", class: "icon icon-mail"
            メールアドレスで登録
        = link_to user_facebook_omniauth_authorize_path do
          %button.btn.btn__sns.btn__sns--facebook
            = fa_icon "facebook-square", class: "icon"
            Facebookで登録
        = link_to user_google_oauth2_omniauth_authorize_path do
          %button.btn.btn__sns.btn__sns--google
            = fa_icon "google-plus", class: "icon"
            Googleで登録
  = render "devise/shared/footer"
