.single-container
  %header.single-header
    = render "devise/shared/header"
    %nav.signup-bar
      %ul.progress-bar
        %li
          会員情報
          %br
          .circle--first.circle--red.circle--through
        %li
          電話番号認証
          %br
          .circle.circle--red
        %li
          住所入力
          %br
          .circle
        %li
          支払い方法
          %br
          .circle
        %li
          完了
          %br
          .circle--last

  %main.single-main
    .signup-panel
      %h2.signup-panel__head-phone 電話番号の確認
      = form_for "" do |f|
        .form-group.form-panel
          = f.label :phone_number, "携帯電話の番号"
          = f.telephone_field :phone_number, autofocus: true, autocomplete: "email", placeholder: "携帯電話の番号を入力", class: "form__input"
          %p.sms-notice
            本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
          = f.submit "SMSを送信する", class: "btn btn__red sms-button"
          %p.sms-notice
            ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
          .sms-desc
            = link_to "電話番号の確認が必要な理由>"

  = render "devise/shared/footer"
