%footer.single-footer
  %nav
    %ul
      %li
        = link_to "プライバシーポリシー",""
      %li
        = link_to "メルカリ利用規約",""
      %li
        = link_to "特定商取引に関する表記",""
  .single-footer-logo
    = link_to root_path do
      = image_tag("logo-gray.svg", alt:"mercari", width:80, height:65)
    %p.copy
      %small © 2019 Mercari
