.sidebar_wrapper
  .sidebar
    =link_to mypage_path,class: "sidebar__content #{"active" if params[:action] == "show"}" do
      %h4.sidebar__content-name マイページ
      %i.sidebar__content-angle.active
    =link_to mypage_path,class: "sidebar__content #{"active" if params[:action] == "notification"}" do
      %h4.sidebar__content-name お知らせ
      %i.sidebar__content-angle
    =link_to mypage_path,class: "sidebar__content #{"active" if params[:action] == "todo"}" do
      %h4.sidebar__content-name やることリスト
      %i.sidebar__content-angle
    =link_to "",class: "sidebar__content" do
      %h4.sidebar__content-name いいね！一覧
      %i.sidebar__content-angle
    =link_to "",class: "sidebar__content" do
      %h4.sidebar__content-name 出品する
      %i.sidebar__content-angle
    =link_to "",class: "sidebar__content" do
      %h4.sidebar__content-name 出品した商品・出品中
      %i.sidebar__content-angle
    =link_to "",class: "sidebar__content" do
      %h4.sidebar__content-name 出品した商品・取引中
      %i.sidebar__content-angle
    =link_to "",class: "sidebar__content" do
      %h4.sidebar__content-name 出品した商品・売却済み
      %i.sidebar__content-angle
    =link_to "",class: "sidebar__content #{"active" if params[:action] == "purchase"}" do
      %h4.sidebar__content-name 購入した商品・取引中
      %i.sidebar__content-angle
    =link_to "",class: "sidebar__content #{"active" if params[:action] == "purchased"}" do
      %h4.sidebar__content-name 購入した商品・過去の取引
      %i.sidebar__content-angle
    =link_to "",class: "sidebar__content" do
      %h4.sidebar__content-name ニュース一覧
      %i.sidebar__content-angle
    =link_to "",class: "sidebar__content" do
      %h4.sidebar__content-name 評価一覧
      %i.sidebar__content-angle
    =link_to "",class: "sidebar__content" do
      %h4.sidebar__content-name ガイド
      %i.sidebar__content-angle
    =link_to "",class: "sidebar__content" do
      %h4.sidebar__content-name お問い合わせ
      %i.sidebar__content-angle

  .sidebar
    %h3.sidebar__title 売上・ポイント
    =link_to "",class: "sidebar__content" do
      %h4.sidebar__content-name 売上・振込申請
      %i.sidebar__content-angle
    =link_to "",class: "sidebar__content" do
      %h4.sidebar__content-name ポイント
      %i.sidebar__content-angle

  .sidebar
    %h3.sidebar__title 設定
    =link_to "",class: "sidebar__content #{"active" if params[:action] == "edit"}" do
      %h4.sidebar__content-name プロフィール
      %i.sidebar__content-angle
    =link_to "",class: "sidebar__content" do
      %h4.sidebar__content-name 住所変更
      %i.sidebar__content-angle
    =link_to "",class: "sidebar__content #{"active" if params[:action] == "index"}" do
      %h4.sidebar__content-name 支払い方法
      %i.sidebar__content-angle
    =link_to "",class: "sidebar__content" do
      %h4.sidebar__content-name メール/パスワード
      %i.sidebar__content-angle
    =link_to "",class: "sidebar__content #{"active" if params[:action] == "set_user"}" do
      %h4.sidebar__content-name 本人情報
      %i.sidebar__content-angle
    =link_to "",class: "sidebar__content" do
      %h4.sidebar__content-name 電話番号の確認
      %i.sidebar__content-angle
    =link_to logout_mypage_path, method: :get, class: "sidebar__content #{"active" if params[:action] == "logout"}" do
      %h4.sidebar__content-name ログアウト
      %i.sidebar__content-angle
